{%  extends "template.html" %}

{% block content %}

    <div id="content">
        <div class="content-wrapper">
            <div class="chat-wrapper">
                <div id="chat">
                    <div class="chat-bubble-wrapper user-bubble-wrapper">
                        <div class="chat-bubble user-bubble"></div>
                        <img id='user-image' src="../static/images/Chatbot_character_man@2x.jpg" alt="User icon" width="70" height="70">
                    </div>
                    <div class="chat-bubble-wrapper assistant-bubble-wrapper">
                        <img id='assistant-image' src="../static/images/Chatbot_character_robot@2x.png" alt="Assistant icon" width="70" height="70">
                        <div class="chat-bubble assistant-bubble">
                            <div class="typing-indicator" id="assistant-typing-indicator">
                                 <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="input-wrapper">
            <div id="input">

                    <button type='button' class="mic-toggle" id="mic">
                        <span class="material-icons">mic</span>
                    </button>


                    <input type="text" autocomplete="off" id="user_input" name="user_input" placeholder="Type your message...">


                    <button type="submit" id="send_btn">
                        <span class="material-icons">arrow_upward</span>
                    </button>

            </div>
        </div>
    </div>

{% endblock %}