<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audio</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="../static/main.css">
</head>
<body>

    <div class="chat-window">
        <div class="message-box">
            <div class="bot-message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci dolorem dolores eos et facilis laborum nam, necessitatibus neque non odio, optio quia quis saepe sapiente soluta totam voluptate? Repellendus.</div>
            <div class="human-message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequatur cumque dolore fugit impedit labore laudantium magni neque quae voluptatem? Amet dolorum odio officiis optio quaerat quasi quidem sapiente, sequi.</div>
        </div>
    </div>

    <main>

        <button class="mic-toggle" id="mic">
            <span class="material-icons">mic</span>
        </button>

{#        <audio class="playback" controls></audio>#}

    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="../static/main.js"></script>

</body>
</html>