<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/chatinteface.css">
    <title>LocalLink</title>
</head>
<body>
    <div id="container">
        <div id="sidebar">
            <div class="sidebar-element" id="new-chat" ><a href="{{ url_for('index') }}">New Chat</a></div>
            <div class="sidebar-element" id="settings"><a href="{{ url_for('settings') }}">Settings</a></div>
            <div class="sidebar-element" id="more info"><a href="{{ url_for('about') }}">More info</a></div>
        </div>

        {% block content %}

        {% endblock %}

    </div>
</body>
{#<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="../static/main.js"></script>
</html>